.github
.gitignore
.git

.env

.venv

# Кеші та артефакти Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.python-version
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Інструменти якості коду/IDE
.idea/

Dockerfile
docker-compose.yaml
.dockerignore


# Статика/медіа (якщо монтуються як volume, не копіювати в образ)
media/
files/

# Дані БД/бекупи
*.sqlite3

# Інше
README.md